body{
font-family: Arial;
font-size: 13px;
}

table {
	border : none;
	border-collapse: collapse;
}

td {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 5px;
}

th {
	border: 3px solid black;
	border-collapse: collapse;
	padding: 8px;
	background-color: #ECECEC;
}

table.display_open_small {
	border : none;
	border-collapse: collapse;
	width: 180px;
}

td.display_open_small {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 5px;
}

th.display_open_small {
	border: 3px solid black;
	border-collapse: collapse;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 8px;
	padding-down: 8px;
	background-color: #ECECEC;
	min-width: 20px;
}

tr.lent {
 background-color: #CE2C2C;
}

tr.available {
 background-color: white;
}

a {
	text-decoration: none;
}



#header{
	width: 100%;
	height: 180px;
	background-color: #60c4e3;
	border-radius: 7px;
}

#header h1{
	padding-top: 5px;
	margin-bottom: 0.34em;
}


.side-description{
	width: 50%;
	float: left;
}
.logo{
	box-sizing: border-box;
	float: left;
	width: auto;
	padding: 10px 13px 0 10px;
}

.status {
	box-sizing: border-box;
	display: block;
	float: left;
	width: 50%;
}




#navi{
margin-top: 25px;
border-radius: 7px;
width: 25%;
background-color: #6AAEFF;
float: left;

}

#error{
float: left;
width: 65%;
padding-left: 3%;
padding-top: 20px;
color: red;
}

#content{
float: left;
width: 65%;
padding-left: 3%;
padding-top: 20px;
}
#content a:hover{
	text-decoration: underline;
}


#navi >ul{
	list-style-type: none;
}

#navi >ul >li{
	display: block;
	height: 25px;
}

#navi >ul >li:hover{
	background-color: #BAE7F4;
}

#footer{
	clear: both;
	background-color: grey;
	vertical-align: baseline;
	margin-top: 50px;
	margin-bottom: 5px;
	width: 100%;
	float: left;
	border-radius: 7px;

}

.fs_logo {
	display: inline-block;
	width: 311px;
	height: 140px;
	background-image: url("../images/ifs_sw_klein.png");
}

.link_list {
	display: inline-block;
	height: 140px;
	padding-left: 10%;
}
.forum_logo {
	display: inline-block;
	background-image: url("../images/logo_forum_klein_sw.png");
	width: 311px;
	height: 140px;
	float: right;
}

#content input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
}

#content input[type=submit] {
  background-color: #4d0099;
  color: white;
}

.container {
  background-color: #f4f4f4;
  padding: 20px;
}

#message {
  display:block;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

label.text_label {
  width: 25%;
  display: block;
  float: left;
}


/*Style radio buttons */
label > input[type="radio"] {
  display: none;
}

label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}
label > input[type="radio"]:checked + *::before {
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
  border-color: teal;
}
label > input[type="radio"]:checked + * {
  color: teal;
}

.radio_container {
  padding-top: 5px;
  padding-bottom: 5px;
}

div.input_label_container {
	padding-top: 5px;
	padding-bottom: 5px;
}

div.new_password_container {
	padding-top: 5px;
}
